#admin_reviews_show {
  .parameter {
    text-align: center;
    padding: 5px;

  }
  .value {
    text-align: center;
    padding: 5px;
  }
  td {
    padding: 5px;
    text-align: center;

  }
  .small {
    width: 250px !important;
  }

}