.sidebar
  = render :partial => 'sidebar'
#container.row-fluid
  .span9.analytics
    = render :partial => 'subheading', :locals => {:heading => 'Service'}

    #reviews_score
      .rating-box
        .score=@reviews_score.category_score("service").round(1)
        .category Restaurant

      - @reviews_score.category_features_scores("service").each do |k,v|
        .rating-box
          .score=v.round(1)
          .category= k.humanize

    %h4 Restaurant Trend
