#restaurant {
  .paginate {
    margin:5px 15px 5px 0px;
    float:right;
    display: block;
    word-spacing:2px
  }

  .heading{
    margin:25px 0px;
    font-size:20px;
    font-weight:bold;
  }

  .edit-action{
    a{color:#FF8C00;}
    width:100px;
    text-align:center;
  }

  .show-action{
    a{color: #13AA31;}
    width:100px;
    text-align:center;
  }

  .delete-action{
    a{color: #EE1515;}
    width:100px;
    text-align:center;
  }

  .form-group {
    display:inline-block;
    clear:both;
    margin-bottom:5px;
    label{
      float:left;
      line-height:25px;
    }
    .form-control{
      float:right;
    }
  }

  td {
    padding: 10px ;
  }

  th{
    text-align:center;
    padding: 10px;
  }

  .new-restaurant {
    margin-top:20px;
    font-style:normal;
  }

  #new_review {
  }

  .tiny {
    width:140px;
  }

  .block {
    display: block;
    margin: 5px;
  }

  label {
    width: 80px !important;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }
}

#new_restaurant_form {
  textarea{
    height: 50px !important;
  }
}

#dishes_list{
  margin-left: 30px;
}
