%div.row
  %div.large-10.columns
    %h3
      Editing review
    = render 'form'
    
    = link_to 'Show', restaurant_review_path(@restaurant,@review), class: 'button radius'
    = link_to 'Back', :back, class: 'button alert radius'
