#features.features
  .wrap
    %h2
      We help you understand reviews
      %span better
      %h4 with our technology and analytics platform
    .features_grids
      .section.group
        .grid_1_of_4.images_1_of_4
          = image_tag "multiplesites.png"
          %h3 Multisite Monitoring
          %p We monitor reviews across review sites and social media sites and notify you of any updates.
        .grid_1_of_4.images_1_of_4
          = image_tag "insights.png"
          %h3 Actionable Insights
          %p We dive deep into reviews, cut through the noise and present actionable insights to you.  
        .grid_1_of_4.images_1_of_4
          = image_tag "easy.png"
          %h3 Easy to Use
          %p We do all the hard work in understanding reviews and present insights in easy-to-understand format
        .grid_1_of_4.images_1_of_4
          = image_tag "payment.png"
          %h3 Free Trial
          %p Try foodlytics for 30 days for FREE. No credit card. No strings attached. Simple.
