#pricing_dashboard.dashborder_img
  .wrap
    %h2
      Plans and
      %span pricing
    %h4 
    .table-content
      .pricing-table
        .header Basic
        .price
          %span $39 / Month
        %ul.features-list
          %li Multisite monitoring
          %li Insights from max 200 reviews
          %li Review Alerts
          %li Actionable Insights
          %li All reviews in one place
          %li 
            %b -
          %li
            %b -
          %li
            %b -
        .pricing-footer
          = link_to 'Sign Up','',class: 'btn.btn-primary'
      .pricing-table
        .header Standard
        .price
          %span $49 / Month
        %ul.features-list
          %li Multisite monitoring
          %li Insights from max 200 reviews
          %li Review Alerts
          %li Actionable Insights
          %li All reviews in one place
          %li Customer Analysis
          %li 
            %b -
          %li 
            %b -
        .pricing-footer
          = link_to 'Sign Up','',class: 'btn.btn-primary'
      .pricing-table
        .header Premium
        .price
          %span Special Price 
        %ul.features-list
          %li Multisite monitoring
          %li Insights from all reviews
          %li Review Alerts
          %li Actionable Insights
          %li All reviews in one place
          %li Customer Analysis
          %li Competition Analysis
          %li Multilocation Monitoring

        .pricing-footer
          = link_to 'Contact Us','',class: 'btn.btn-primary'
