#tour.tour
  .wrap
    %h2
      Take a
      %span tour
    %h4 and see for yourself
    .box
      .dotted
        .span4.left
          = image_tag "tour_1_insights.png"
        .span6.right
          .tour-title
            Unlock actionable insights 
          %p We analyze what customers are saying about variaous parameters like taste, ambiance, courtesy etc and help you understand whats working and whats not working. You can make strategic decisions based on these insights. 
    .box
      .dotted
        .span6.left
          .tour-title
            All reviews in one place 
          %p Don't worry about monitoring reviews across multiple sites and missing out reviews. We bring all online reviews and conversations to one place. You will also be alerted whenever there is a new review.  
        .span4.right
          = image_tag "tour_2_reviews.png"
    .box
      .dotted
        .span4.left
          = image_tag "tour_3_download.png"
        .span6.right
          .tour-title
            Download organized reports
          %p Did you find something interesting on foodlytics and you want to share it with others? Or do you need to work offline? No worries. You can download super organized excel report in one click. 
    .clearfix
