%div.row
  %div.large-10.columns
    %h3
      Editing restaurant

    = render 'form'
    = link_to '< Back', restaurant_path(@restaurant), class: 'button alert radius'
    = link_to 'Show', @restaurant, class: 'button radius'
   
