.row-fluid
  .span10.offset1
    %h4
      Editing restaurant

    = render 'restaurants/form'
    = link_to '< Back', (@admin ? admin_restaurants_path : restaurants_path)
    |
    = link_to 'Show', (@admin ? admin_restaurant_path(@restaurant) : restaurant_path(@restaurant))
   
