- if notes.present?
  %table.notes-list
    %tr
      %th Item
      %th Rating
    - notes.each do |note|
      %tr
        %td
          = note.item
        %td
          = note.rating
        %td
          = link_to 'X', (@admin ? admin_restaurant_review_note_path(restaurant,note.review,note) : restaurant_review_note_path(restaurant,note.review,note)), data: { confirm: 'Are you sure?' }, method: :delete, class: 'delete-note'
          /= link_to 'X', (@admin ? admin_restaurant_review_note_path(restaurant,note.review,note) : restaurant_review_note_path(restaurant,note.review,note)), data: { confirm: 'Are you sure?' }, method: :delete, class: 'delete-note'
