#admin_reviews_show {
  .parameter {
    text-align: center;
    padding: 5px;

  }
  
  .value {
    text-align: center;
    padding: 5px;
  }
  
  td {
    padding: 5px;
    text-align: center;
  }

  th{
    text-align:center;
    padding:5px;
  }
  
  .small {
    width: 100%;
  }
}
