#restaurant {
  .paginate {
    margin:5px;
    float:right;
    display: block;
    word-spacing:2px
  }

  td {
    padding: 10px ;
  }

  .name {
    width:200px;
  }
  .phone {
    width:200px;
  }
  .address {
    width: 400px;
  }

  .new-restaurant {
    margin-top:10px !important;
  }

  #new_review {
    textarea{
      height: 50px !important;
    }
  }
  .tiny {
    width:140px;
  }
  .block {
    display: block;
    margin: 5px;
  }
  label {
    width: 80px !important;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
}

#new_restaurant_form {
  textarea{
    height: 50px !important;
  }
}

#dishes_list{
  margin-left: 30px;
}
