#consumer_restaurant{
  .subheader{
    margin-left:10px;
    color:#f34541;
  }
}

#consumer_overview{
   .percent {
     font-size:16px;
     margin-top:10px;
   }
}

#date_range{
  float:right;
  display:inline;
  clear:none;
  margin-top:20px;
}
