@import 'flatty/bootstrap/bootstrap';
@import 'data/restaurants';
@import 'data/reviews';
@import 'data/charts';
@import 'data/admin/reviews';



//Data Layout Overrides

body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 14px;
}
.sidebar-nav {
    padding: 9px 0;
}

.container-center{
  margin: auto;
  width:95%;
  margin-top:15px;
}

.breadcrumb {
    margin: auto !important;
    width: 92%;
    margin-top:15px !important;
    background-color:#E2E2E2;
}

#new_user{
  .col-sm-10{
    margin-bottom:20px;
  }
  .control-label{
    line-height:30px;
  }
}
