#restaurant_index {
  .paginate {
    margin:5px;
    float:right;
    display: block;
    word-spacing:2px
  }
  .size-tiny{
    width:100px;
  }
  .size {
    width: 180px;
    display: block;
  }
  .other {
    width:250px;
    background-color:#F08715 !important;
    border-color:#F08715 !important;
  }
}