

#source_reviews {
  h4 {
    display:inline-block;
    margin-bottom: 10px;
  }
  .page-numbers {
    margin: 5px;
    float:right;
  }

  .review {
    padding: 10px;
  }

  .even {
    background-color: #ddd;
  }

  form.note-form {
    display:none;
    button.cancel-button {
    }
  }
}