#source_reviews {
  margin-top: 10px;
  h4 {
    display:inline-block;
    margin-bottom: 10px;
  }
  .page-numbers {
    margin: 5px;
    float:right;
  }

  .review {
    padding: 10px;
  }

  .even {
    background-color: #ddd;
  }

  .paginate {
    margin:10px;
    float:right;
    display: block;
    word-spacing:2px
  }
  .size-tiny{
    width:135px;
  }
  .size {
    width: 250px;
  }


  form.note-form {
    display:none;
    button.cancel-button {
    }
  }
  .add-note {
    margin: 10px;
    width:90px;
    height:32px;
    display: block;
  }

  #review_notes {
    height: 250px;
    .desc {
      max-height: 220px;
      overflow-y: scroll;
    }
    #notes {
      margin-top: 10px;
      max-height: 260px;
      overflow-y: scroll;
    }
  }
}

.prev-next {
  a {
    padding: 3px;
    color: #FFA500; 
    font-weight: bold;
    &:visited {
      color: #FFA500; 
    }
  } 
}

#parameters {
  font-size: 90%;
  line-height: 15px;
  input {
    margin: 0;
  }
  label.key-label {
    color: #FFA500;
    color: #CC3300;
  }
  label {
    display: inline;
  }
  .parameter {
    &:hover {
      background-color: #eee;
    }
    .left{
      float:left;
      width:30%;
      display: inline;
    }
    .right{
      float:left;
      width:70%;
      display: inline;
      label {
        margin-right: 3px;
      }
    }
    .clear {
      clear: both;
    }
  }
}

.review-rating{
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  color:#ffffff ;
  background-color: #1587BB;
}

#new_review {
  .small-3 {
    clear: both;
  }
}
