- if notes.present?
  %table{ border: 0, class: 'notes-list'}
    %tr
      %th Item
      %th Rating
      %th
    - notes.each do |note|
      %tr
        %td
          = note.item
        %td
          = note.rating
        %td
          = link_to 'Destroy', (@admin ? admin_restaurant_review_note_path(@restaurant,note.review,note) : restaurant_review_note_path(@restaurant,note.review,note)), data: { confirm: 'Are you sure?' }, method: :delete, class: 'delete-note'
