#source_reviews.row-fluid
  .span10.offset2
    %h4= "#{@source.capitalize} Reviews"

    = render :partial => 'reviews/table', :locals => {:reviews => @reviews}

    .paginate
      = paginate @reviews

